/* ==================================<( Reset: adjusts default browser settings )>=== */
	* { margin: 0; padding: 0; }

/* ======================================================================<( html )>===*/
    /* what to do if the content of an element exceeds the size of the element's box*/
	html { overflow-y: scroll; overflow-x: hidden;} 

	/*  page background  */
	html { 
 		background: url(img/bq.jpg) no-repeat top center ; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		background-size: cover;
	}
	
/* =====================================================================<( body )>=== */
	/* set up document font */
	body {
    	
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
	}
				

/* ===================================================================<( Header )>=== */



.selectContainer{
  z-index: -1; 
  cursor: pointer;
  text-align: center;
  z-index: 0;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
  width: 45px;
}

.dropDownControl{
    direction: ltr; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    text-align: left; 
    position: relative; 
    font-family: Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 10px; 
    padding-top: 1px; 
    padding-right: 5px; 
    padding-left: 0px; 
    padding-bottom: 1px; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(113, 123, 135); 
    border-right-color: rgb(113, 123, 135); 
    border-bottom-color: rgb(113, 123, 135); 
    border-left-color: rgb(113, 123, 135); 
    border-image: initial; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    background-image: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255); 
    background-position: initial initial; 
    background-repeat: initial initial;     
    z-index: 2;
}


.dropDownArrow{
    -webkit-user-select: none; 
    border-width: 0px; 
    border-style: initial; 
    border-color: initial; 
    border-image: initial; 
    padding: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    position: absolute; 
    right: 4px; 
    top: 50%;
    margin-top: -2px; 
    width: 7px; 
    height: 4px; 
}

.dropDownOptionsDiv{
    background-color: white; 
    z-index: 0; 
    padding-top: 2px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-right-color: rgb(113, 123, 135); 
    border-bottom-color: rgb(113, 123, 135); 
    border-left-color: rgb(113, 123, 135); 
    border-image: initial; 
    border-top-width: 0px; 
    border-top-style: initial; 
    border-top-color: initial; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    position: relative; 
    text-align: left; 
    display: none;
}

.dropDownItemDiv{
    font-family: Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 13px; 
    padding-top: 2px; 
    padding-right: 5px; 
    padding-bottom: 3px; 
    padding-left: 5px; 
    background-color: rgb(220, 220, 220); 
    color: black;       
}

.dropDownItemDiv:hover, .checkboxContainer:hover{
    background-color: rgb(250, 250, 250);     

}

.dropDownControl:hover{
    background: -webkit-linear-gradient(top,rgb(255,255,255),rgb(230,230,230));
}

.separatorDiv{
    margin-top: 1px; 
    margin-right: 0px; 
    margin-bottom: 1px; 
    margin-left: 0px; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(235, 235, 235); 
}

.checkboxContainer{
    font-family: Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    padding-top: 1px; 
    padding-bottom: 3px; 
    padding-left: 5px; 
    direction: ltr; 
    text-align: left; 
    background-color: rgb(255, 255, 255); 
    white-space: nowrap; 
    padding-right: 8px; 
    color: rgb(0, 0, 0); 
} 

.checkboxSpan{
    box-sizing: border-box; 
    position: relative; 
    line-height: 0; 
    font-size: 0px; 
    margin-top: 0px; 
    margin-right: 5px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    display: inline-block; 
    background-color: rgb(255, 255, 255); 
    border-width: 1px; 
    border-style: solid; 
    border-color: initial; 
    border-image: initial; 
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
    border-bottom-right-radius: 1px; 
    border-bottom-left-radius: 1px; 
    width: 13px; 
    height: 13px; 
    vertical-align: middle; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border-color: rgb(198, 198, 198);       
}

.blankDiv{
    position: absolute; 
    left: 1px; 
    top: -2px; 
    width: 13px; 
    height: 11px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    display: none; /*when = block -> this is the "check" symbol*/ 
}

.blankImg{
    position: absolute; 
    left: -52px; 
    top: -44px; 
    -webkit-user-select: none; 
    border-width: 0px; 
    border-style: initial; 
    border-color: initial; 
    border-image: initial; 
    padding: 0px; 
    margin: 0px; 
    -webkit-user-drag: none; 
    width: 68px; 
    height: 67px; 
}

.checkboxLabel{
    vertical-align: middle; 
    cursor: pointer;
}

.iconItem {
	width: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right:5px;
}







	header {
       		
		width: 100%;
		margin: auto;
		margin-top: 0px;
		padding-top: 1%;
		padding-bottom: 0px;
		margin-bottom: 0px;
		
		/*background: url(img/bq.jpg) no-repeat top center ; */
		/*background-color: white; 	*/	
	}
	
	.title {
		font-family:  "Arial Black", Helvetica, sans-serif;
  		
  		/*max-width: 1200px;*/
    	line-height: 0vw; 
    	text-height: 0vw;
    	font-size: 2.0vw;
   		/*color: #000066;*/
   		
   		padding-top: 40px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	margin-left: 5px;
    	margin-bottom: 25px; 	    	
    	/*text-decoration: underline;
    	/*text-shadow: 2px 2px #000046;*/    	
    	/*background-color:white;*/
	}
	
	
/* ==================================================================<( main_part )>=== */
	
	#main_part {
    	margin-top: auto;
		max-width: 1300px;
		max-height: 86vh;
		margin: auto;
			
	}
	
/* =====================================================================<( main )>=== */
	#main {
		
		background-color: white;  width: 92%;
		float: left; border:1px solid;
		margin-top: 2px;
		margin-bottom: 20px;
		margin-left: 40px;
		
		padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 30px;
    	padding-left: 0px;
	}	
		
	#main p { 
	width:90%;
	padding-bottom: 5px;
	}
	
	#main p.medium{ 
		font-size:19px;
		line-height:32px;
	}

	#main a { font-weight: normal; text-transform: lowercase; color:blue; }
	
	#map {
			
		padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	
    	margin-top: 0%;
		margin-bottom: 0%;
		margin-right: 0%;
		margin-left: 0%;
		
		width: 100%;
		height: 82vh;
		
		background-color: white;
		border: rgb(0, 0, 0) 2px solid;
	}
	
	.nicebox {
	
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          z-index: 5;
          box-shadow: 0 4px 6px -4px #333;
          /*padding: 5px 10px;*/
          background: rgb(255,255,255);
          background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
          
	}


	 .labels {
     color: white;
     background-color: red;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 10px;     
     white-space: nowrap;
   }
   
   
   img.picBig {
   		width:100%; margin-left:10px; z-index: 0; cursor: zoom-out;
   }
   
	img.picMd {
   		width:300px; margin-left:10px; border: 1px solid black; z-index: 1; cursor: zoom-in;
   }
   
	img.picSmall {
   		width:150px; margin-left:0px; margin-bottom:0px; padding-bottom:0px; border: 1px solid black; z-index: 2;
   }
   
   span.rightBig {
   		display: block;
   		content: "<<";
   		float:right;
   		text-height: 10px;
   }
   
    span.leftBig {
    	display: block;
    	content: ">>";
   		float:left; margin-left:15px;
   		text-height: 10px; 
   		line-height: 10px;
   }
   
    span.rightSmall {
    	display: none;
    	text-height: 0px;
    	line-height: 0px;
   }
   
    span.leftSmall {
    	display: none;
    	text-height: 0px;
    	line-height: 0px;
   }
   
   center.titleBig {
   		color:#b22222;
   		padding-top:5px;
   		padding-bottom:5px;
   		font-size:120%;
   		font-style: oblique;
   		font-weight: bold;
   		text-height: 10px;
   		line-height: 10px;
   }
   
	center.titleSmall {
   		color:#b22222;
   		padding-top:5px;
   		padding-bottom:5px;
   		font-size:90%;
   		font-style: oblique;
   		font-weight: bold;
   		text-height: 0px;
   		line-height: 0px;
   }

	hr.lineBig {
		display: block;
		margin-left:15px;
		text-height: 10px;
        line-height: 10px;
	}
	
	hr.lineSmall {
		display: none;
		text-height: 0px;
		line-height: 0px;
	}
	
	a.linkBig {
		display: block;
		text-height: 10px;
		line-height: 10px;
	}
	
	a.linkSmall {
		display: none;
		text-height: 0px;
		line-height: 0px;
	}
	

	    	
/* ====================================================================<( aside )>=== */


/* ===================================================================<( footer )>=== */	
	footer {
	
    	position: relative;
    	bottom: 0;
     		
    	clear: left;
		/* background: #000033;  */
		/*background: #323232;*/
		
		padding-top: 4px;	
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		
		margin-top: 0px; 
		
		text-align: right;	
		opacity: 1; 
     }

	footer p{
		/*  clear: both; */
		/*text-align: center;*/
		padding-top: 10px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	font-size: 1em;
    	text-transform: inherit;
    	 
		line-height: 0em;
		
		margin-top: 5px; 
		margin-bottom: 0px; 
		
	}
	
	#picWin {
		position: absolute;
		top : 10%;
		width: 100px;
		height: 90px;
		background-color: red;
		display: block;
		
	}
	
/* ================================================================================== */   		
/* =============================<( change elements as width of screen decreases )>=== */
/* ================================================================================== */   		

@media all and (max-width: 1000px) and (min-width: 680px) {
	header {
       		
		width: 100%;
		margin: auto;
		margin-top: 0px;
		padding-top: 1%;
		padding-bottom: 0px;
		margin-bottom: 0px;
		
		/*background: url(img/bq.jpg) no-repeat top center ; */
	}
	
	.title {
		font-family:  "Arial Black", Helvetica, sans-serif;
  		
  		/*max-width: 1200px;*/
    	line-height: 0vw; 
    	text-height: 0vw;
    	font-size: 2.2vw;
   		/*color: #000066;*/
   		
   		padding-top: 35px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	margin-left: 5px;
    	margin-bottom: 20px;
    	    	
    	/*text-decoration: underline;
    	/*text-shadow: 2px 2px #000046;*/
    	
    	/*background-color:white;*/
	}
	
	

}

@media screen and (max-width:680px) {

	/* -------------------------------------------------------<( general layout )>--- */	

	/*  Change the lay out of all parts */
	
/* ===================================================================<( Header )>=== */
	header {
       		
		width: 100%;
		margin: auto;
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		/*background: url(img/bq.jpg) no-repeat top center ; */
	}
	
	.title {
		font-family:  "Arial Black", Helvetica, sans-serif;
  		width: 700px;
  		/*max-width: 1200px;*/
    	line-height: 1em; 
    	text-height: 0px;
    	font-size: 2.4vw;
   		/*color: #000066;*/
   		
   		padding-top: 10px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	margin-left: 10px;
    	margin-bottom: 7px;
    	    	
    	/*text-decoration: underline;
    	/*text-shadow: 2px 2px #000046;*/
    	
    	/*background-color:white;*/
	}
	
		
	#main_part {
    	margin-top: auto;
		max-width: 1300px;
		max-height: 88vh;
		margin: auto;
			
	}
	
	#main {
    	float: left;
        clear: left;
        width: 100%;
        margin-left: 0px;
   	}
   	
   	#map {
	
		border:1px solid;
		
		padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	
    	margin-top: 0%;
		margin-bottom: 0%;
		margin-right: 0%;
		margin-left: 0%;
		
		width: 100%;
		height: 86vh;
		
		background-color: white;
	}
   	
   img.picBig {
   		width:80%; margin-left:10px; z-index: 3; cursor: zoom-out;
   }
   
   img.picMd {
   		width:250px; margin-left:10px; border: 1px solid black; cursor: zoom-in;
   }
   
	img.picSmall {
   		width:150px; margin-left:10px; border: 1px solid black;
   }

   center.titleBig {
   		color:#b22222;
   		padding-top:5px;
   		padding-bottom:5px;
   		font-size:100%;
   		font-style: oblique;
   		font-weight: bold;
   		display: block;
   }
   
	center.titleSmall {
   		color:#b22222;
   		padding-top:5px;
   		padding-bottom:5px;
   		font-size:10%;
   		font-style: oblique;
   		font-weight: bold;
   		display: none;
   }

   	
	hr.lineSmall {
		display: none;
	}
	
		footer {
	
    	position: relative;
    	bottom: 0;
     		
    	clear: left;
		/* background: #000033;  */
		/*background: #323232;*/
		
		padding-top: 4px;	
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		
		margin-top: 0px; 
		
		text-align: right;	
		opacity: 1; 
     }

	footer p{
		/*  clear: both; */
		/*text-align: center;*/
		padding-top: 2px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 0px;
    	font-size: 0.8em;
    	text-transform: inherit;
    	 
		line-height: 0em;
		
		margin-top: 5px; 
		margin-bottom: 0px; 
		
	}
    	
  	
  	
  
}